.nav.navbar-nav.navbar-right {
    text-align: right;
}

.navbar-brand img:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .isHomePage {
        background-image: url("/assets/images/HeaderSmall.jpg") !important;
    }
}